.buttonSpacing{
    -fx-spacing: 20px;
    /*JavaFX Margin Fix*/
    -fx-padding: 0px 0px 20px 0px;
    -fx-border-insets: 0 0 20px 0;
    -fx-background-insets: 0 0 20px 0;
}
.roundedButton{
    -fx-min-height: 50px;
    -fx-min-width: 50px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-background-color: #ffffff;
    -fx-opacity: .5;
}
.leftContainer{
    -fx-padding: 20px;
    -fx-min-height: 300px;
}
.rightContainer{
    /*JavaFX Margin Fix*/
    -fx-padding: 20px 20px 20px 0px;
    -fx-border-insets: 20px 0 20px 0;
    -fx-background-insets: 20px 0 20px 0;
    -fx-min-height: 280px;
}
.mainContainer{
    -fx-background-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-height: 100px;
    -fx-padding: 20px 20px 20px 20px;
}
.header-margin{
    -fx-padding: 20px 5px 0px 5px;
    -fx-border-insets: 20px 5px 0px 5px;
    -fx-background-insets: 20px 5px 0px 5px;
}




.mainContainer .scroll-pane {
    -fx-background-color: transparent;
    -fx-max-height: 450px;
}
.mainContainer .scroll-pane, .mainContainer .scroll-pane .viewport, .mainContainer .scroll-pane .content,.mainContainer .scroll-pane .scroll-bar,.mainContainer .scroll-pane .scroll-bar:vertical,.mainContainer .scroll-pane .scroll-bar:horizontal, .mainContainer .scroll-pane .increment-button:hover ,.text-area .decrement-button:hover {
    -fx-background-color:transparent;
}
.mainContainer .scroll-pane .scroll-bar .thumb {
    -fx-background-color: slategray;
}
.mainContainer .scroll-pane .increment-button > .increment-arrow, .mainContainer .scroll-pane .decrement-button > .decrement-arrow{
    -fx-background-color:transparent;
}
.mainContainer  .scroll-pane .track  {
    -fx-background-color:transparent;
}
.mainContainer  .scroll-pane .context-menu .scroll-arrow {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}
.mainContainer  .scroll-pane .context-menu .menu-item {
    -fx-border-style: solid;
    -fx-border-color: transparent;
}
.mainContainer .scroll-pane > .corner {
    -fx-background-color: transparent;
}

.mainContainer .mainContainer-header{
    -fx-font-size: 20px;
}
.mainContainer .mainContainer-subheader{
    -fx-font-size: 14px;
}
.mainContainer .hr {
    -fx-background-color: slategray;
    -fx-background-insets: 15 0 15 0;
    -fx-padding: 16 0 15 0;
}
.suggestion{
    -fx-font-size: 18px;
}
.textfield{
    -fx-font-family: "Helvetica Neue", Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-text-box-border: transparent;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
    -fx-faint-focus-color: transparent;
}
.textfield:focused {
    -fx-focus-color: transparent;
}
.checkBox {
    /*JavaFX Margin Fix*/
    -fx-padding: 0px 0px 20px 0px;
    -fx-border-insets: 0 0 20px 0;
    -fx-background-insets: 0 0 20px 0;
}
.pinBorderPane{
    -fx-spacing: 20px;
}

.regexLine{
    -fx-spacing: 10;
    -fx-padding: 0 0 10 0;
}
.regexMatch{
    -fx-fill: #ecf0f1;
    -fx-padding: 0 10px 0 0;
}
.regexMatchGreen{
    -fx-fill: #2ecc71;
}
.regexMatchRed{
    -fx-fill: #e74c3c;
}

.scale {
    -fx-padding: 20;
}
.scale .scaletext{
    -fx-font-size: 15;
    -fx-fill: #303952;
}
.scalebar{
    -fx-fill: transparent;
    -fx-max-height: 10;
    -fx-min-height: 10;
    -fx-border-color: #303952;
    -fx-border-width: 0 2 2 2;
}
.arrivalText{
    -fx-font-size: 20px;
}
.arrivalSmallText{
    -fx-font-size: 16px;
}
.selectTransportTypeButton{
    -fx-background-color: transparent;
}
.selectTransportTypeButton:selected{
    -fx-background-color: rgba(0, 0, 0, .25);
}

.stepContainer{
    /*JavaFX Margin Fix*/
    -fx-padding: 10px 0 10px 10px;
    -fx-border-insets: 10px 0 10px 10px;
    -fx-background-insets: 10px 0 10px 10px;
}
.stepIcon{
    /*JavaFX Margin Fix*/
    -fx-padding: 0 20px 0 10px;
    -fx-border-insets: 0 20px 0 10px;
    -fx-background-insets: 0 20px 0 10px;
}

.labelTest{
    -fx-word-wrap: break-word;
    -fx-padding: 0 0 0 10px;
    -fx-border-insets: 0 0 0 10px;
    -fx-background-insets: 0 0 0 10px;
}
.heartIcon{
    -fx-background-color: transparent;
}
.nearbyPOI{
    -fx-spacing: 20px;
}

.nearbyPOIImage{
    -fx-padding: 0 10px 0 0;
    -fx-border-insets: 0 10px 0 0;
    -fx-background-insets: 0 10px 0 0;
}
.attractionType{
    -fx-font-size: 10px;
}
.imageView{
    -fx-background-color: red;
    -fx-min-width: 20;
    -fx-min-height: 20;
}

.nearestRoad{
    -fx-padding: 0 0 20px 0;
}